<a href="https://ejje.weblio.jp/content/{{English}}">{{English}}{{tts en_US:English}}</a>
{{#English audio}}
<br/>
<audio controls="controls" preload="none"><source src="{{English audio}}" type="audio/mpeg"></audio>
{{/English audio}}

<hr id=answer>

{{#Japanese}}
{{Japanese}}
<p/>
{{/Japanese}}
{{#Example}}
{{Example}}
{{#Example audio}}
<br/>
<audio controls="controls" preload="none"><source src="{{Example audio}}" type="audio/mpeg"></audio>
{{/Example audio}}
<br/>
{{Example japanese}}
<p/>
<a href="https://ejje.weblio.jp/sentence/content/{{English}}">See other examples</a>
{{/Example}}